<aside class="col-12 row mx-0 my-5 align-items-center align-self-start col-lg-4 my-lg-0 align-items-lg-start pl-xl-5 ml-xl-auto sticky-top pt-lg-5">
	{% if entry is defined %}
		<div class="d-none col-12 px-0 d-lg-block col-md-6 col-lg-12 mb-5">
			<h3 class="mt-1 bolder h4 text-primary text-uppercase">
				Comparte en tus redes
			</h3>
			<div class="row justify-content-center mt-4">
				<div class="d-flex flex-column align-items-center">
					<a class="px-3 social-goal" href="https://www.facebook.com/sharer/sharer.php?u={{(entry.url is defined ? entry.url)}}&t={{(entry.title is defined) ? entry.title}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
						target="_blank"><i class="fab fa-facebook-f fa-2x  btn-facebook"></i></a>
					<small>Facebook</small>
				</div>
				<div class="d-flex flex-column align-items-center">
					<a class="px-3 social-goal" href="https://www.linkedin.com/shareArticle?mini=true&url={{(entry.url is defined) ? entry.url}}&title={{(entry.title is defined) ? entry.title}}&summary={{ (entry.instaBlogBody is defined) ? entry.instaBlogBody | striptags | slice(0, 250) ~ '...' }}&source=blog" target="_blank"><i class="fab fa-linkedin-in fa-2x btn-linkedin"></i></a>
					<small>LinkedIn</small>
				</div>
				<div class="d-flex flex-column align-items-center">
					{% set whatsappMessage = ('Vi este artículo: "' ~ entry.title ~ '" en ' ~ siteName ~ ' y me pareció excelente. ' ~ entry.url) %}
					<a href="https://wa.me/?text={{ whatsappMessage|url_encode }}" target="_blank">
						<i class="fab fa-whatsapp fa-2x btn-whatsapp"></i>
					</a>
					<small>Whatsapp</small>
				</div>
				<div class="d-flex flex-column align-items-center">
					<a class="px-3 social-goal" href="mailto:?subject=Checa este {{(entry.title is defined) ? entry.title}}&amp;body=Vi este {{(entry.title is defined) ? entry.title}} en {{siteName}} y me pareció excelente. {{(entry.url is defined) ? entry.url}}"><i class="fa fa-envelope fa-2x btn-dark-color"></i></a>
					<small>Mail</small>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="newsletter col-12 bg-light py-3 px-4 mb-3 col-md-5 mx-md-auto col-lg-12 mr-lg-0 mb-lg-4">
		<h3 class="h5 bold mt-1">
			Suscríbete a próximos webinars
		</h3>
		{% if currentSite.language == 'es-MX' %}
			{% set action = "https://thebrandindustry.us19.list-manage.com/subscribe/post-json?u=5a7efa6f035c3370673b36d5d&amp;id=fa6cb92292&c=?" %}
		{% else %}
			{% set action = "https://urany.us4.list-manage.com/subscribe/post-json?u=9cab019b9eb5704f2b13bc12d&amp;id=5e6100c984&c=?" %}
		{% endif %}	
		<form action="{{ action }}" class="mr-lg-auto newsletter newsletter-subscribe-stock validate" id="mc-embedded-subscribe-form2" method="get" name="mc-embedded-subscribe-form" novalidate target="_blank">
			<div class="input-group w-100 mb-2 mb-sm-0">
				<input class="d-none form-control form-control-outline-white text-white" id="mce-FNAME" name="FNAME" type="text" value="Webinars">
			</div>
			<div class="form-group mb-0">
				<input class="form-control px-0 border border-dark border-top-0 border-left-0 border-right-0" id="mce-EMAIL" name="EMAIL" placeholder="Correo electrónico" type="email">
			</div>
			<div class="form-group d-flex mb-1">
				<input class="text-primary ml-auto btn" type="submit" value="Suscribirse">
			</div>
			<p class="mailchimp-error col-12"></p>
		</form>
	</div>
	<div class="latest d-none col-12 px-0 d-lg-block col-md-6 col-lg-12 mb-5">
		<h3 class="mt-1 bolder h4 text-primary text-uppercase">
			Últimos webinars
		</h3>
		<div class="border border-dark pt-4 px-3 pb-3">
			{% set entries = craft.entries.section('webinars').limit(5).id('not ' ~ entry.id|default("0")) %}
			{% for entry in entries.all() %}
				<a href="{{entry.url}}" class="d-block border border-dark border-top-0 border-left-0 border-right-0 mb-3">
					<h4 class="h5 bold mb-0 pb-3 px-2">
						{{ entry.title }}
					</h4>
				</a>
			{% endfor %}
		</div>
	</div>
	<a href="{{ url('demotruck') }}" class="ad position-relative bg-cover col-12 p-4 mb-3 col-md-6 col-lg-12 mb-lg-4" style="background-image:url(/assets/img/demotruck.jpg)">
		<div class="pleca pleca-primary"></div>
		<div class="frame position-relative border border-white text-white d-flex justify-content-center align-items-center">
			<div class="content text-center">
				<span class="d-block mb-0 h3 boldest text-uppercase">
					Demotruck
				</span>
				by
				<span class="h3 boldest text-uppercase">
					Urany
				</span>
			</div>
		</div>
	</a>
</aside>