@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.scss";
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

@import "global/old-styles.scss";

svg {
  box-sizing: initial;
}

#close-menu {
  background: none;
  padding: 0;
  border: none;
}

.float-btn {
  position: fixed;
  padding: 1rem;
  bottom: 0;
  z-index: 2;
}

.whatsapp-btn {
  height: 4rem;
  width: 4rem;
}

.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgb(136, 23, 38);
  background: linear-gradient(
    180deg,
    rgba(136, 23, 38, 1) 0%,
    rgba(60, 20, 29, 1) 100%
  );
  .toast-header {
    background: transparent;
    color: #fff;
  }
  .close {
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 1;
  }
}
