<section id="marcas-home" class="container py-md-5">
	<div class="row py-5 justify-content-center align-items-md-center">
		<div class="col-12">
			<h2 class="text-center text-uppercase">
				Las marcas que nos respaldan
			</h2>
			<div id="marcas-marcas">
				{% if currentSite.language == 'es-MX' %}
					<div class="row mt-sm-0 mt-lg-4 justify-content-center d-flex">
						{% for marca in craft.entries.section('marcas').all() %}
							<a href="{{ marca.url }}" class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-lg-auto">
								<img class="img-fluid" src="{{ marca.logoParaFondoOscuro[0].url }}" alt="{{marca.title}}">
							</a>
						{% endfor %}
					</div>
				{% else %}
					<div class="row mx-0 mt-5">
						<div class="logo col-12 mb-3 d-flex justify-content-center align-items-center col-md-3 mb-md-0">
							<img class="large" src="/assets/img/logos/wittenstein.png" alt="Wittenstein">
						</div>
						<div class="logo col-12 mb-3 d-flex justify-content-center align-items-center col-md-3 mb-md-0">
							<img class="large" src="/assets/img/logos/weiss.png" alt="Weiss">
						</div>
						<div class="logo col-12 d-flex justify-content-center align-items-center col-md-3">
							<img src="/assets/img/logos/unimotion.png" alt="Unimotion">
						</div>
						<div class="logo col d-flex justify-content-center align-items-center">
							<img src="/assets/img/logos/linmot.png" alt="Linmot">
						</div>
					</div>
					<div class="d-none row mx-0 d-lg-flex mt-lg-4">
						<div class="logo col d-flex justify-content-center align-items-center">
							<img src="/assets/img/logos/mayr.png" alt="Mayr">
						</div>
						<div class="logo col d-flex justify-content-center align-items-center">
							<img src="/assets/img/logos/edrive.png" alt="Edrive">
						</div>
						<div class="logo col d-flex justify-content-center align-items-center">
							<img src="/assets/img/logos/joyce.png" alt="Joyce">
						</div>
					</div>
				{% endif %}
			</div>

			<div class="row mx-0">
				<a href="{{ url('marcas') }}" class="btn btn-primary mt-4 mx-auto py-2 px-4 mt-md-5 text-uppercase">
					Ver catálogos por marca
				</a>
			</div>
		</div>
	</div>
</section>
