{% cache %}
<section id="marcas-home" class="container py-md-5">
	<div class="row py-5 justify-content-center align-items-md-center">
		<div class="col-12">
			<h2 class="text-center text-uppercase">
				Las marcas que nos respaldan
			</h2>
			<div id="marcas-marcas">
				{% if currentSite.language == 'es-MX' %}
					<div class="row mt-sm-0 mt-lg-4 justify-content-center d-flex">
						{% for marca in craft.entries.section('marcas').all() %}
							<a href="{{ marca.url }}" class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-lg-auto">
								<img class="img-fluid lazy" 
									 src="{{ marca.logoParaFondoOscuro[0].url }}" 
									 data-src="{{ marca.logoParaFondoOscuro[0].url }}"
									 data-srcset="{{ marca.logoParaFondoOscuro[0].url }}"
									 alt="{{marca.title}}">
							</a>
						{% endfor %}
					</div>
                {% else %}
                    <div class="row mt-sm-0 mt-lg-4 justify-content-center d-flex">
                        {% for marca in craft.entries.section('marcas').all() %}
                            {% if marca.slug != 'mts' %}
                                <a href="{{ marca.url }}" class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-lg-auto">
                                    <img class="img-fluid lazy" 
                                        src="{{ marca.logoParaFondoOscuro[0].url }}" 
                                        data-src="{{ marca.logoParaFondoOscuro[0].url }}"
                                        data-srcset="{{ marca.logoParaFondoOscuro[0].url }}"
                                        alt="{{marca.title}}">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
					<!-- <div class="row mt-sm-0 mt-lg-4 justify-content-center d-flex marcas-col">
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/wittenstein.svg"
								 data-src="{{ siteUrl }}assets/img/logos/wittenstein.svg"
								 data-srcset="{{ siteUrl }}assets/img/logos/wittenstein.svg" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/weiss.svg"
								 data-src="{{ siteUrl }}assets/img/logos/weiss.svg"
								 data-srcset="{{ siteUrl }}assets/img/logos/weiss.svg" class="lazy img-fluid w-75 px-4 px-lg-5">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/unimotion.png"
								 data-src="{{ siteUrl }}assets/img/logos/unimotion.png"
								 data-srcset="{{ siteUrl }}assets/img/logos/unimotion.png" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/linmot.png"
								 data-src="{{ siteUrl }}assets/img/logos/linmot.png"
								 data-srcset="{{ siteUrl }}assets/img/logos/linmot.png" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/mayr.png"
								 data-src="{{ siteUrl }}assets/img/logos/mayr.png"
								 data-srcset="{{ siteUrl }}assets/img/logos/mayr.png" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/edrive.png"
								 data-src="{{ siteUrl }}assets/img/logos/edrive.png"
								 data-srcset="{{ siteUrl }}assets/img/logos/edrive.png" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/joyce.png"
								 data-src="{{ siteUrl }}assets/img/logos/joyce.png"
								 data-srcset="{{ siteUrl }}assets/img/logos/joyce.png" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/logos/posital.svg"
								 data-src="{{ siteUrl }}assets/img/logos/posital.svg"
								 data-srcset="{{ siteUrl }}assets/img/logos/posital.svg" class="lazy img-fluid w-75">
						</div>
						<div class="logo col-6 d-flex justify-content-center align-items-center col-sm-3 my-3 col-3">
							<img src="{{ siteUrl }}assets/img/ItohDenki.svg"
								 data-src="{{ siteUrl }}assets/img/ItohDenki.svg"
								 data-srcset="{{ siteUrl }}assets/img/ItohDenki.svg" class="lazy img-fluid w-75">
						</div>
					</div> -->
				{% endif %}
			</div>

			<div class="row mx-0">
				<a href="{{ url('marcas') }}" class="btn btn-primary mt-4 mx-auto py-2 px-4 mt-md-5 text-uppercase">
					Ver catálogos por marca
				</a>
			</div>
		</div>
	</div>
</section>
{% endcache %}