<section id="direcciones" class="container pt-md-4">
	<div class="row py-5">
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
		<div class="direccion row mx-0 mb-4 col-12 col-sm-6 col-lg-4 col-xl-3">
			<h4 class="col-12 px-0 pb-1 mb-3 border border-left-0 border-right-0 border-top-0">
				Oficinas Querétaro
			</h4>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-building"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Calle Mecánicos 53, Peñuelas, 76148 Santiago de Querétaro, Qro.
				</p>
			</div>
			<div class="row col-12 mb-3">
				<div class="icon d-flex justify-content-start align-items-center col-2 pl-0">
					<i class="fa fa-phone"></i>
				</div>
				<p class="col-10 px-0 mb-0">
					Teléfono: (442) 258 2113 <br>
					Teléfono: (442) 258 2113
				</p>
			</div>
		</div>
	</div>
</section>