{% if entry is defined and entry.catalogo is defined and entry.catalogo is not empty %}
    {% set color = entry.catalogo[0].fondo %}
    {% set portada = entry.catalogo[0].portada[0].url %}
{% else %}
    {% set color = '#4c565d' %}
    {% set portada = '/assets/img/catalogo-stock.jpg' %}
{% endif %}
<section class="container-fluid py-md-5 d-flex align-items-center" style="background-image: linear-gradient(-180deg, {{color}} 0%, #111 100%); min-height: 100vh;">
    <div class="container">
        <div class="row py-5 align-items-center">
            <div class="col-12 mx-auto col-lg-5 pt-5 mt-5">
                <img class="d-block img-fluid mx-auto col-sm-6 col-lg-12" src="{{ portada }}">
            </div>
            <div class="col-12 mx-auto col-lg-6">
                <h3 class="col-12 text-white text-uppercase h2">
                    Descarga el catálogo de stock
                </h3>
                <p class="col-12 my-3 text-white">
                    Ingresa tu correo electrónico y te enviaremos de forma automática el catálogo de la marca y un brief para conocer los proyectos de URANY.
                </p>
                <form action="https://thebrandindustry.us19.list-manage.com/subscribe/post-json?u=5a7efa6f035c3370673b36d5d&amp;id=fa6cb92292&c=?" class="col-12 mr-lg-auto newsletter newsletter-subscribe-stock validate" id="mc-embedded-subscribe-form" method="get" name="mc-embedded-subscribe-form" novalidate target="_blank">
                    <p class="col-12 mailchimp-error text-white"></p>
                    <div class="input-group w-100 mb-2 mb-sm-0">
                        <input class="d-none form-control form-control-outline-white text-white" id="mce-FNAME" name="FNAME" type="text" value="Descarga">
                        <input class="required form-control bg-white text-center" id="mce-EMAIL" name="EMAIL" placeholder="Correo electrónico" type="email">
                        <input type="hidden" name="MARCA" id="mce-Marca" placeholder="Marca" value="Catálogo de stock">
                        <input class="input-group-addon btn btn-primary px-5 text-white download-catalogo" type="submit" value="Enviar">
                    </div>
                </form>
                <div class="input-group mb-2 col-12 mb-sm-0" id="download">
                    <a download href="/assets/img/CatStock_B_0819-02.pdf" class="btn btn-white">
                        Descarga el catálogo
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</section>
