<section class="jumbotron-fluid position-relative d-flex bg-cover justify-content-center align-items-center py-md-5" style="background-image:url('/assets/img/{{ subscribeImage }}.jpg');">
	<div class="pleca pleca-primary pleca-transparent"></div>
	<div class="row container py-5 my-md-4">
		<h2 class="col-12 text-white text-center text-uppercase col-md-9 mx-md-auto col-lg-6">
			Contacta a un ingeniero para <br class="d-none d-xl-block">comenzar con tu proyecto
		</h2>
		<div class="w-100 my-3"></div>
		<form accept-charset="utf-8" class="col-12 col-md-9 mx-md-auto px-md-5 col-lg-6">
			<div class="input-group mb-2 mb-sm-0">
		    	<input type="text" class="form-control text-center" id="contacta" placeholder="Nombre">
		    	<button class="input-group-addon btn btn-primary text-white" data-chat="nombre" {% if entry is defined and entry.type == 'marcas' %}data-marca="{{ entry.slug|capitalize }}{% endif %}">
		    		Contactar
		    	</button>
		    </div>
		</form>
	</div>
</section>