{% set calc2 = "assets/img/calc2.jpg " %}
{% set calc3 = "assets/img/calc3.jpg " %}
{% set calc4 = "assets/img/calc4.png " %}
{% set calc5 = "assets/img/calc5.jpg " %}

<div class="container-fluid position-relative banner-calculo">
	<div class="row my-n5">
		<div class="col-12 col-md-10">
			<div class="row h-100 position-relative zindex1 bg-image bg-no-repeat bg-cover" style="background-image: url({{ calc3 }});">
					<div class="text-white col-12 col-md-11 py-5 mx-lg-auto order-1 order-md-0">
						<div class="media-width-query-50">
			                <h2 class="text-uppercase mb-3 ml-xl-3">
			                    CÁLCULO DE UN EJE SERVOCONTROLADO
			                </h2>
			                <p class="text-justify ml-xl-3 h4 mb-4">
			                    Con una tasa de confiabilidad del <b>99.86%</b>
			                </p>
			                <p class="text-justify ml-xl-3">
								Realiza tu elección de sistema con un departamento de cálculo altamente especializado.
			                </p>
			                <p class="text-justify ml-xl-3">
			                	<a href="/calculo" class="col-12 btn btn-outline-primary text-uppercase col-md-auto white-button mb-3">CONOCE MÁS</a>
			                </p>
			            </div>
		            </div>
				
			</div>
		</div>
	</div>
	<img src="{{ calc4 }}" alt="CNC machine" class="img-fluid floating-arm-1 banner zindex1">
</div>