{% set items = 
	[
		{
			'title':'Análisis de aplicación de campo',
			'img':'subscribe1.jpg',
			'content':'Finding people who possess both the skills and the interest needed to work in manufacturing is a major challenge.'
		},
		{
			'title':'PLC Open: programación para un óptimo funcionamiento',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'Introduction to Motion Control',
			'img':'demotruck2.jpg',
			'content':'Many industrial systems use PC-based controllers that can be modified for the environment through optional programming changes. When industrial applications demand continual operation, program logic controllers are frequently used, whereas PC-based systems are common in R&D.'
		},
		{
			'title':'Multi-Axis Motion Controllers Steadily Advance Motion Control Capabilities',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'Industrial Encoders: What are They and What are They Used For?',
			'img':'subscribe1.jpg',
			'content':'Finding people who possess both the skills and the interest needed to work in manufacturing is a major challenge.'
		},
		{
			'title':'Microstepping Tutorial: A Brief Overview',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'Understanding Magnetic Materials and Couplings in Motion Control Design',
			'img':'demotruck2.jpg',
			'content':'Many industrial systems use PC-based controllers that can be modified for the environment through optional programming changes. When industrial applications demand continual operation, program logic controllers are frequently used, whereas PC-based systems are common in R&D.'
		},
		{
			'title':'Four Tech Trends Accelerating Robot Grippers and Cobots Into the Future',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'Dorner - Transfer Metal Product with Magnetic Conveyors',
			'img':'subscribe1.jpg',
			'content':'Finding people who possess both the skills and the interest needed to work in manufacturing is a major challenge.'
		},
		{
			'title':'Cobots Provide Plenty of Artistic License for Creative Applications: No “Genius” Required',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'Robots in Research',
			'img':'subscribe3.jpg',
			'content':'Many industrial systems use PC-based controllers that can be modified for the environment through optional programming changes. When industrial applications demand continual operation, program logic controllers are frequently used, whereas PC-based systems are common in R&D.'
		},
		{
			'title':'Robotiq- Imagining a World Without Robotics in Manufacturing',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'Installing a PLC with Remote Monitoring & Control in an Area Without Electricity?',
			'img':'subscribe1.jpg',
			'content':'Finding people who possess both the skills and the interest needed to work in manufacturing is a major challenge.'
		},
		{
			'title':'When Robotics Meets the Cloud, Customers Win',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
		{
			'title':'4 Easy Steps to Automate Your Production',
			'img':'subscribe3.jpg',
			'content':'Many industrial systems use PC-based controllers that can be modified for the environment through optional programming changes. When industrial applications demand continual operation, program logic controllers are frequently used, whereas PC-based systems are common in R&D.'
		},
		{
			'title':'Use Four Strategies to Fill the Manufacturing Gap With People',
			'img':'subscribe2.jpg',
			'content':'Procesteh LTD is a Croatian company offering engineering solutions for the process industry; they strive to provide complete solutions for both hardware and software.'
		},
	] 
%}