{# --------------- Variables --------------- #}
	{% set title = 'Webinars' %}
	{% set entries = craft.entries.section('webinars').relatedTo(category).all() %}
{# ----------------------------------------- #}

{% extends "_layout" %}

{% block content %}

	<div class="w-100 py-5">&nbsp;</div>
	<section class="grid-inline container mt-5">
		<div class="row mt-5">
			<h2 class="col-12 mb-3 bolder h4 text-primary text-uppercase my-md-4">
				{{category.title}}
			</h2>
			<div class="col-12 col-lg-8">
				{% for entry in entries %}
				<a href="{{ entry.url }}" class="blog-item row col-12 mb-3 mx-0 px-0 mb-lg-4">
					<div class="thumb col-12 bg-cover col-md-4" style="background-image:url(/assets/img/{{ entry.instaBlogImage[0].filename }})">
						<span class="position-absolute zindex2 d-flex align-items-center justify-content-center w-100 h-100"><i class="fa fa-play fa-2x white"></i></span>
					</div>
					<div class="info col-12 px-0 py-3 col-md-8 px-md-4 px-lg-3 py-lg-1">
						<h3 class="h5 bold mb-2">
							{{ entry.title }}
						</h3>
						<p class="meta small">
							<span class="category-tag bg-black text-white px-2 py-1">
								{{ entry.postDate | date("F d, Y") }}
							</span>
						</p>
						<p class="descripcion mb-0">
							{{ entry.instaBlogBody | striptags | slice(0, 200) ~ '...' }}
						</p>
					</div>
				</a><!-- /item -->
				{% endfor %}
			</div>
			{% include 'webinars/partials/_sidebar' %}
		</div>
	</section>
{% endblock %}