<?xml version="1.0" encoding="UTF-8"?>
<svg class="logo" width="191px" height="31px" viewBox="0 0 191 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <title>ISOTIPO</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0 0.0681626337 0 30.182716 23.3141624 30.182716 23.3141624 0.0681626337 3.36391512e-20 0.0681626337"></polygon>
        <polygon id="path-3" points="25.0727822 30.654321 0.00729415638 30.654321 0.00729415638 0.422580662 25.0727822 0.422580662"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Header" transform="translate(-165.000000, -70.000000)">
            <g>
                <rect id="Rectangle-2" x="0" y="45" width="1440" height="82"></rect>
                <g id="ISOTIPO" transform="translate(165.000000, 70.000000)">
                    <g>
                        <g id="Group-3" transform="translate(0.000000, 0.471605)">
                            <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="Clip-2"></g>
                            <path d="M22.5186394,0.0681626337 L18.5422651,0.0681626337 C18.0818298,0.0681626337 17.746742,0.45173465 17.746742,0.874292675 L17.746742,18.2645676 C17.746742,21.8261281 15.2782625,24.6683338 11.6357349,24.6683338 C7.99568941,24.6683338 5.56816504,21.8261281 5.56816504,18.2218087 L5.56816504,0.874292675 C5.56816504,0.45173465 5.23183626,0.0681626337 4.77264198,0.0681626337 L0.796267706,0.0681626337 C0.376787524,0.0681626337 -0.000496426251,0.45173465 -0.000496426251,0.874292675 L-0.000496426251,18.5186054 C-0.000496426251,24.9651305 5.06553346,30.1829676 11.6357349,30.1829676 C18.2481326,30.1829676 23.3141624,24.9651305 23.3141624,18.5186054 L23.3141624,0.874292675 C23.3141624,0.45173465 22.9381196,0.0681626337 22.5186394,0.0681626337" id="Fill-1" fill="#F1F1F1" mask="url(#mask-2)"></path>
                        </g>
                        <path d="M65.5530864,10.0696014 C65.5530864,5.01937951 61.3999738,0.943209877 56.3131963,0.943209877 L44.1931445,0.943209877 C43.728197,0.943209877 43.3876543,1.32704184 43.3876543,1.7511447 L43.3876543,6.10040134 L55.8482487,6.03873654 C58.0925631,6.03873654 60.0428296,7.90504082 60.0428296,10.1551771 C60.0428296,12.5311599 58.0925631,14.4842983 55.8482487,14.4842983 L43.3876543,14.4238919 L43.3876543,19.0097401 L52.0696074,19.0097401 L52.0696074,19.0248416 L53.6014211,19.0248416 L59.2373394,30.2717475 C59.3227892,30.4403819 59.5339005,30.654321 59.9159115,30.654321 L64.3655852,30.654321 C65.0856256,30.654321 65.3834434,29.9747496 65.0856256,29.4222833 L59.2800643,18.6435266 C62.9682294,17.1585374 65.5530864,13.9746197 65.5530864,10.0696014" id="Fill-4" fill="#F1F1F1"></path>
                        <path d="M95.3191709,0.938010089 C95.1921179,0.683378088 95.0222947,0.471604938 94.5971077,0.471604938 L94.1719206,0.471604938 C93.7907618,0.471604938 93.5794262,0.683378088 93.4523733,0.938010089 L80.2577369,29.5500753 C80.0036311,30.1034587 80.3420196,30.654321 80.9785422,30.654321 L84.6706251,30.654321 C85.3499181,30.654321 85.7310769,30.2282536 85.8996422,29.8047073 L86.3650836,28.7773554 L86.3436985,28.7760948 L94.2146909,11.1421985 L94.3430018,11.1421985 L102.742333,29.8047073 C103.040467,30.399689 103.336085,30.654321 103.973866,30.654321 L107.663433,30.654321 C108.299956,30.654321 108.638344,30.1034587 108.384238,29.5500753 L95.3191709,0.938010089 Z" id="Fill-6" fill="#F1F1F1"></path>
                        <g id="Group-10" transform="translate(124.975309, 0.000000)">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="Clip-9"></g>
                            <path d="M24.2666522,0.840913106 L20.3655361,0.840913106 C19.8989616,0.840913106 19.5594061,1.2206494 19.5594061,1.63898185 L19.5594061,18.9811027 L19.5166472,18.9811027 L1.8735921,0.422580662 L0.813424198,0.422580662 C0.388350947,0.422580662 0.00729415638,0.758740662 0.00729415638,1.17831814 L0.00729415638,29.4356787 C0.00729415638,29.8565013 0.388350947,30.2337475 0.813424198,30.2337475 L4.67303901,30.2337475 C5.13835588,30.2337475 5.47916905,29.8565013 5.47916905,29.4356787 L5.47916905,11.3801516 L5.52067029,11.3801516 L23.2492431,30.65457 L24.2666522,30.65457 C24.6917254,30.65457 25.0727822,30.317165 25.0727822,29.8988325 L25.0727822,1.63898185 C25.0727822,1.2206494 24.6917254,0.840913106 24.2666522,0.840913106" id="Fill-8" fill="#F1F1F1" mask="url(#mask-4)"></path>
                        </g>
                        <path d="M190.196325,0.943209877 L185.872238,0.943209877 C185.534827,0.943209877 185.325657,1.15589955 185.199906,1.3270581 L178.481571,11.0881297 L171.763236,1.3270581 C171.637486,1.15589955 171.427071,0.943209877 171.090905,0.943209877 L166.809149,0.943209877 C166.136818,0.943209877 165.800652,1.62406853 166.136818,2.17529975 L175.710071,16.3525137 L175.710071,29.8476105 C175.710071,30.2729898 176.046237,30.654321 176.508154,30.654321 L180.37157,30.654321 C180.789909,30.654321 181.169652,30.2729898 181.169652,29.8476105 L181.169652,16.3084655 L190.868657,2.17529975 C191.203578,1.62406853 190.868657,0.943209877 190.196325,0.943209877" id="Fill-11" fill="#F1F1F1"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>