{# --------------- Variables --------------- #}
{% set title = category.title %}
{# ----------------------------------------- #}

{% extends "_layout" %}
{% set jumbotronImage = "stock_fondo.png" %}

{% block jumbotron %}
    <div class="pleca pleca-primary"></div>
    <span class="d-none d-md-block lines container">
        {% include 'includes/lines.svg.twig' %}
        {% include 'includes/lines.svg.twig' %}
    </span>
    <div class="position-relative text-center">
        <h1 class="text-white text-uppercase mb-3">{{category.title}}</h1>
    </div>
    <span id="scroll">
        <i class="fa fa-chevron-down text-white top"></i>
        <i class="fa fa-chevron-down text-white bottom"></i>
    </span>
{% endblock %}


{% block content %}

	<div class="container py-5">
		<div class="row">
			<div class="col-12 py-5">
				{{category.body}}
			</div>

			
			{% set stocks = craft.entries.relatedTo(category) %}
			{% set count = 0 %}

			{% set tabs = [] %}
			{% for stock in stocks %}
				{% set newElem = {'title': stock.productoMarca.one().title, 'id': stock.productoMarca.one().id } %}
				{% if newElem not in tabs %}
					{% set tabs = tabs|merge([newElem]) %}	
					{% set count = count + 1 %}
				{% endif %}
			{% endfor %}
			
			<nav class="col-12 mb-5" id="nav-marca">
				<ul class="list-unstyled row mx-0 mb-0">
					{% for tab in tabs %}
						{% if count > 1 %}
							{% if loop.first %}
								<li class="col-12 btn btn-primary text-uppercase col-md-auto mr-md-3 mb-md-3" id="all-tab">
									Todos
								</li>
							{% endif %}
								<li class="col-12 btn btn-outline-primary text-uppercase col-md-auto mr-md-3 mb-md-3" data-target="{{ tab.title }}">
									{{ tab.title }}
								</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>


			<div class="col-12">
				<div class="row">
					{% for producto in stocks %}
						{% include 'partials/_product-thumb' %}
					{% endfor %}
				</div>
			</div>

            
		</div>
	</div>
	{% include 'partials/_stock-catalog-newsletter' %}


{% endblock %}