{# --------------- Variables --------------- #}
{% set jumbotronImage = "calculo_header.jpg" %}
{% set title = "Cálculo de un eje servocontrolado" %}
{% set logo  = "assets/img/logo-urany.jpg " %}
{% set calc1 = "assets/img/calc1.jpg " %}
{% set calc2 = "assets/img/calc2.jpg " %}
{% set calc3 = "assets/img/calc3.jpg " %}
{% set calc4 = "assets/img/calc4.png " %}
{% set calc5 = "assets/img/calc5.jpg " %}
{% set calc6 = "assets/img/calc6.png " %}
{% set calc7 = "assets/img/calc7.jpg " %}
{% set calc8 = "assets/img/calc8.jpg " %}
{% set mecanismos = craft.entries.section('mecanismosDeCalculo').all() %}
{% set proceso    = craft.entries.section('procesoDeCalculo').all() %}

{% set imagenes = entry.galeria.all() %}
{# ----------------------------------------- #}

{% extends "_layout" %}

{% block jumbotron %}
	<div class="pleca pleca-primary"></div>
	<div class="container position-relative" style="">
		<h1 class="text-white text-uppercase text-center mb-3 font-weight-bold mx-auto big-titles">
			{{ title }}
		</h1>
	</div>
{% endblock %}

{% block content %}

{% cache %}	
	<div class="container-fluid mt-n5 pt-2">
		<div class="row">
			<div class="col-12 col-md-7 text-right align-self-center">
				<div class="row mb-5">
					<div class="col-12 col-md-7 my-5 my-md-0 offset-md-4">
						{# <img src="{{ logo }}" alt="Logo URANY" class="img-fluid my-5"> #}
						<p class="text-primary red-title calc mb-0">Con una tasa de confiabilidad del</p>
						<p class="big-percentage">99.86%</p>
						<p class="h5">Somos una empresa con más de <b>30 años de experiencia</b> especializados en generar el análisis, cálculo, selección e implementación de servosistemas.
						</p>
						<p class="h5"><br><b>Nuestro cálculo evita riesgos para tu proceso y fallas técnicas</b>; realizamos una simulación en uno o más softwares para determinar una serie de componentes mecánicos para un sistema servo o de control de movimiento.</p>
						<br>
						<a href="#cta_container" class="btn mt-n1 red-button px-lg-5 py-3 rounded-0 scroll_to">COTIZA AHORA</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-5 mt-n3 px-0">
				<a href="#cta_container" class="btn mt-n1 gray-button px-lg-5 py-3 rounded-0 scroll_to">COTIZA AHORA</a>
				<picture>
				    <source srcset="{{ imagenes[0].getUrl('large') }}"
				    media="(min-width: 1440px)" />
				    <source srcset="{{ imagenes[0].getUrl('medium') }}"
				    media="(min-width: 750px)" />
				    <source srcset="{{ imagenes[0].getUrl('small') }}" />
					<img src="{{ imagenes[0].url }}" data-src="{{ imagenes[0].url }}" alt="CNC machine" class="lazy img-fluid mb-md-n5 zindex2 position-relative">
				</picture>
			</div>
		</div>
	</div>

	<div class="container-fluid position-relative">
		<div class="row mt-n5">
			<div class="col-12 col-md-2 px-0 align-self-end">
				<picture>
				    <source srcset="{{ imagenes[1].getUrl('large') }}"
				    media="(min-width: 1440px)" />
				    <source srcset="{{ imagenes[1].getUrl('medium') }}"
				    media="(min-width: 750px)" />
				    <source srcset="{{ imagenes[1].getUrl('small') }}" />
					<img src="{{ imagenes[1].url }}" data-src="{{ imagenes[1].url }}" alt="CNC machine" class="lazy img-fluid mb-md-n5 zindex2 position-relative">
				</picture>
				{# <img src="{{ calc2 }}" data-src="{{ calc2 }}" alt="CNC machine" class="lazy img-fluid d-none d-md-block"> #}
			</div>
			<div class="col-12 col-md-8">
				<div class="row h-100 position-relative zindex1 bg-image bg-no-repeat bg-cover" style="background-image: url({{ calc3 }});">
					<div class="col-12 col-md-6 pr-4 pt-3 pt-md-0">
						<p class="bold h1 pb-3 pl-0 pl-lg-5 pt-5 text-right text-white">Realiza tu elección de sistema con un departamento de cálculo altamente especializado.
						</p>
						<a href="#cta_container" class="col-12 btn btn-outline-primary text-uppercase col-md-auto white-button float-right mb-3 scroll_to">COTIZA AHORA</a>
					</div>
					<div class="col-12 col-md-6">
					</div>
					<div class="col-12 col-md-6">
					</div>
					<div class="col-12 col-md-6 px-0 align-self-end mb-n5">
						<img src="{{ calc5 }}" alt="Fondo gris" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
		<picture>
		    <source srcset="{{ imagenes[2].getUrl('large') }}"
		    media="(min-width: 1440px)" />
		    <source srcset="{{ imagenes[2].getUrl('medium') }}"
		    media="(min-width: 750px)" />
		    <source srcset="{{ imagenes[2].getUrl('small') }}" />
			<img src="{{ imagenes[2].url }}" data-src="{{ imagenes[2].url }}" alt="CNC machine" class="lazy img-fluid floating-arm-1 zindex1 ">
		</picture>
	</div>
	
	<div class="container my-5 py-5 text-center calculo-riesgos">
		<div class="row pt-5">
			<div class="col-10 mx-auto">
				<p class="h3">Este servicio consiste en <b>reducir el riesgo</b> de una selección empírica o basada en conceptos erróneos con el fin de <b>garantizar el funcionamiento de los equipos seleccionados.</b>
				</p>
				<p class="h2 mt-4 text-primary red-title">Conoce las consecuencias de una mala selección</p>
				<div class="col-12 mx-auto pb-5 mb-5 mt-5 px-0">
					<a href="/calculo-riesgos" class="btn mt-n1 red-button px-lg-5 py-3 rounded-0">CONOCE MÁS</a>
				</div>
			</div>
			<div class="col-12 col-md-4 fact my-4">
				<p class="h1 text-primary red-title">770</p>
				<p class="h5 w-75 mx-auto gray-title">PROYECTOS <br>CALCULADOS AL AÑO</p>
			</div>
			<div class="col-12 col-md-4 fact my-4">
				<p class="h1 text-primary red-title">1500+</p>
				<p class="h5 w-75 mx-auto gray-title">EJES CALCULADOS <br> AL AÑO</p>
			</div>
			<div class="col-12 col-md-4 fact my-4">
				<p class="h1 text-primary red-title">30+</p>
				<p class="h5 w-75 mx-auto gray-title">AÑOS DE EXPERIENCIA <br>ACUMULADA</p>
			</div>
		</div>
	</div>
	
	{# TABS #}
	<div class="container">
		<div class="row pb-5">
			<div class="col-12 text-center">
				<h2 class="h1 text-primary red-title">EL PROCESO DE CÁLCULO EN URANY</h2>
			</div>
		</div>
		<div class="row proceso-calculo">
			<div class="col-12 col-md-4 order-0 order-md-1 d-flex">
				<ul class="nav nav-tabs flex-column border-0 calculo-tabs" id="myTab" role="tablist">
					{% for step in proceso %}
						<li class="nav-item">
							<a class="nav-link {{ (loop.first ) ? 'active' : '' }} py-3" id="tab--{{step.id}}" data-toggle="tab" href="#tab-{{step.id}}" role="tab" aria-controls="tab-{{step.id}}" aria-selected="false">
								{% if step.habilitarNumero %}<span>{{loop.index }}.</span> {% endif %}
								{{step.title}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-12 col-md-8 order-1 order-md-0">
				<div class="tab-content" id="myTabContent">
					{% for step in proceso %}
						<div class="tab-pane fade {{ (loop.first ) ? ' show active ' : '' }}" id="tab-{{step.id}}" role="tabpanel" aria-labelledby="tab--{{step.id}}">
							<div class="row">
								<div class="col-12 col-md-6 text-right proceso-content align-self-center">
									{% if step.habilitarNumero %}<span class="tab-index">{{ loop.index }}</span>{% endif %}
									<p class="tab-title">{{ step.title }}</p>
									<div class="body">{{ step.introduccion }}</div>
									{% if step.habilitarNumero %}
										<a href="#!" 
											data-toggle="modal" 
											data-target="#modal-proceso" 
											data-title="{{step.title}}"
											data-body="{{step.body}}"
											class="btn mt-n1 red-button px-lg-5 py-3 rounded-0 proceso-trigger mb-4">CONOCE MÁS</a>
									{% else %}
										<a href="#cta_container" class="btn mt-n1 red-button px-lg-5 py-3 rounded-0 scroll_to mb-4">COTIZA AHORA</a>		
									{% endif %}
								</div>
								<div class="col-12 col-md-6">
									<picture>
									    <source srcset="{{ step.fotoEncabezado.one().getUrl('large') }}"
									    media="(min-width: 1440px)" />
									    <source srcset="{{ step.fotoEncabezado.one().getUrl('medium') }}"
									    media="(min-width: 750px)" />
									    <source srcset="{{ step.fotoEncabezado.one().getUrl('small') }}" />
										<img src="{{ step.fotoEncabezado.one().url }}" data-src="{{ step.fotoEncabezado.one().url }}" alt="{{ step.title }}" class="img-fluid lazy">
									</picture>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="modal-proceso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h3 text-primary red-title" id="ProcesoModalLabel">Modal title</h5>
        <button type="button" class="close close-modal-times" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body lead p-md-5">
        ...
      </div>
      <div class="modal-footer">
        <a href="#cta_container" class="btn mt-n1 red-button px-lg-5 py-3 rounded-0" data-dismiss="modal">CERRAR</a>		

      </div>
    </div>
  </div>
</div>
{% endcache %}

		
	{% include '/partials/_mecanismosCalculo' %}

	{# footer part #}
	{% cache %}
	<div class="container-fluid position-relative zindex3">
		<div class="row position-relative mb-n5">
			<div class="col-12 col-md-3"></div>
			<div class="col-12 col-md-8">
				<picture>
				    <source srcset="{{ imagenes[4].getUrl('large') }}"
				    media="(min-width: 1440px)" />
				    <source srcset="{{ imagenes[4].getUrl('medium') }}"
				    media="(min-width: 750px)" />
				    <source srcset="{{ imagenes[4].getUrl('small') }}" />
					<img src="{{ imagenes[4].url }}" data-src="{{ imagenes[4].url }}" alt="Equipo servocontrolado" class="lazy img-fluid">
				</picture>
			</div>
			<div class="col-12 col-md-1"></div>
			<div class="col-12 col-md-10 " style="background-image: url({{ calc5 }});">
				<div class="row">
					<div class="col-12 col-md-6 offset-md-5 text-center">
						<p class="py-5 mb-0 h4 text-primary line-height-15 ">En la compra de los componentes sugeridos, <br class="d-none d-md-block">se absorbe el costo del cálculo de los componentes.
						<a href="#cta_container" class="btn mt-4 red-button px-lg-5 py-3 rounded-0 scroll_to">COTIZA AHORA</a></p>

					</div>
				</div>
			</div>
		</div>
		<picture>
		    <source srcset="{{ imagenes[3].getUrl('large') }}"
		    media="(min-width: 1440px)" />
		    <source srcset="{{ imagenes[3].getUrl('medium') }}"
		    media="(min-width: 750px)" />
		    <source srcset="{{ imagenes[3].getUrl('small') }}" />
			<img src="{{ imagenes[3] }}" data-src="{{ imagenes[3] }}" alt="CNC machine" class="lazy img-fluid floating-arm-2 zindex3">
		</picture>
	</div>
	{% endcache %}


	<div id="cta_container" class=" container-fluid position-relative zindex2 form-calculo bg-image bg-no-repeat bg-cover" style="background-image: url({{ calc8 }});">
		<div class="mb-lg-5 py-4 py-md-5"></div>
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-12 col-md-10 mb-5 py-5">
					<form method="post" accept-charset="UTF-8" class="form_calculo">
						<div class="row">
							<div class="form-group">
								{{ csrfInput() }}
								<div class="messages"></div>
							</div>
							<div class="form-group">
								<input type="hidden" name="action" value="contact-form/send">
								<div class="messages"></div>
							</div>
							<div class="form-group">
								<input type="hidden" name="address">
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-6 form-group">
								<input type="text" name="fromName" id="fromName" class="form-control" placeholder="Nombre completo">
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-6 form-group">
								<input type="email" name="fromEmail" id="fromEmail" class="form-control" placeholder="Correo Electrónico">
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-8 form-group">
								<input type="text" name="message[Teléfono][]" id="telefono" class="form-control" placeholder="Teléfono institucional">
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-4 form-group">
								<input type="text" name="message[Extensión][]" id="extension" class="form-control" placeholder="Extensión">
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-6 form-group">
								<input type="text" name="message[Empresa][]" id="empresa" class="form-control" placeholder="Empresa">
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-6 form-group">
								<input type="text" name="message[Ciudad y Estado][]" id="ciudad" class="form-control" placeholder="Ciudad y Estado">
								<div class="messages"></div>
							</div>
							<div class="col-12 form-group">
								<textarea id="" cols="30" rows="4" name="message[body]" id="estado" class="form-control" placeholder="Describe la aplicación que deseas calcular"></textarea>
								<div class="messages"></div>
							</div>
							<div class="col-12 col-md-6 offset-md-6 text-right form-group">
								 <button type="submit" class="col-12 btn btn-outline-primary text-uppercase col-md-auto white-button float-right mb-3">COTIZA AHORA</button>
								 <div class="messages"></div>
							</div>
						</div>
					</form>
					<div class="form-alert animated" role="alert"></div>
				</div>	
			</div>
		</div>
	</div>

{% endblock %}