{# --------------- Variables --------------- #}
{% set subscribeImage = 'subscribe1' %}
{% set title = 'Productos' %}
{# ----------------------------------------- #}

{% extends "_layout" %}

{% block content %}
	
	{% set navItems = craft.facetedNavigation.buildFacets(['categoriaDeProductos']) %}
	{% set relationParam = ['or'] %}
	{% set params = {
		section: 'productos',
		orderBy: 'title asc'
		}
	%}


	<section class="container-fluid py-5 mt-lg-5">
		<div class="row py-5 py-md-3">

			<div class="col-lg-3 mt-4">
				{% for categoryGroup in navItems.categoryGroups %}
					<h3 class="mb-3 bolder h5 text-primary text-uppercase">{{ categoryGroup.name }}</h5>
					{% if craft.request.isMobileBrowser %}
						<div class="form-group">
							<select class="form-control" id="category-select" name="categorias">
								{% for category in attribute(
									navItems.categories, categoryGroup.handle
									) %}
										<option {% if category.active %}selected{% endif %}  value="{{ url('productos'~category.url.add) }}">{{ category.title}}</option>
										
								{% endfor %}
							</select>
						</div>
					{% else %}
						<ul class="pl-4">
							{% for category in attribute(
								navItems.categories, categoryGroup.handle
								) %}
								<li class="{% if category.active %}active{% endif %}">
									<a href="{{ url('productos'~category.url.add) }}" class="add btn pl-0 text-left {% if category.active %}bolder{% endif %}">{{ category.title}}</a>
									{% if category.active %} <a href="{{ url('productos'~category.url.remove) }}" class="remove pl-1 btn text-primary" title="Quitar"><i class="fa fa-times"></i></a> {% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</div>

			<div class="col-lg">
				<div class="row">
					<div class="col-12">
						{% if navItems.activeCategories|length %}
							<nav>
								{% for category in navItems.activeCategories %}
									{% set relationParam = relationParam|merge([{ targetElement:category }]) %}
									<h1 class="h2 text-uppercase mt-4 mb-0">{{ category.title }}</h1>
									<span><a href="{{ url('productos'~category.url.remove) }}" class="text-primary">< Ver todas </a></span>
									
								{% endfor %}
							</nav>
						{% endif %}
					</div>

					{% if relationParam|length > 1 %}
					    {% set params = params|merge({relatedTo: relationParam}) %}
					{% endif %}
					{% set productos = craft.entries(params) %}

					{% paginate productos.limit(36) as pageInfo, pageEntries %}

					<div class="col-12 my-4 mx-0">
						<div class="row">
							
							{% for producto in pageEntries %}
								{% include 'partials/_product-thumb' %}
							{% endfor %}
						</div>
					</div>

					<div class="col-12 justify-content-center d-flex">
						{# <a href="{{ pageInfo.firstUrl }}"></a> #}
					    {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="px-2 text-primary btn p-0"><i class="fa fa-chevron-left"></i></a>{% endif %}

					    {% for page, url in pageInfo.getPrevUrls(5) %}
					        <a href="{{ url }}" class="px-2 text-primary btn p-0">{{ page }}</a>
					    {% endfor %}

					    {% if pageInfo.totalPages > 1 %}
					    <span class="current px-2 bolder">{{ pageInfo.currentPage }}</span>
					    {% endif %}

					    {% for page, url in pageInfo.getNextUrls(5) %}
					        <a href="{{ url }}" class="px-2 text-primary btn p-0">{{ page }}</a>
					    {% endfor %}

					    {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="px-2 text-primary btn p-0"><i class="fa fa-chevron-right"></i></a>{% endif %}
					    {# <a href="{{ pageInfo.lastUrl }}">Last Page</a> #}
					</div>

					<div class="col-12 text-center">
						<a href="#" data-chat="open" class="btn btn-primary mt-5 text-uppercase">
							Cotizar con un asesor
						</a>
					</div>

				</div>
			</div>

			{# {% set categorias = craft.categories.group('categoriaDeProductos').all() %}

			{% for categoria in categorias %}
				
				{% set entries = craft.entries.section('productos').relatedTo(categoria) %}
				<div class="row my-4 mx-0" data-grid="{{categoria.title}}">
					<h1 class="col-12 h2 text-uppercase">{{categoria.title}}</h1>
					{% for producto in entries %}
						{% include 'partials/_product-thumb' %}
					{% endfor %}
				</div>
			{% endfor %}
 #}

		</div>
	</section>

	{# {% if entry.catalogo is defined %}
		{% set color = entry.catalogo[0].fondo %}
		{% set portada = entry.catalogo[0].portada[0].url %}
		<section class="container-fluid py-md-5" style="background-image: linear-gradient(-180deg, #881626 0%, #111 100%);">
			<div class="container">
				<div class="row py-5 align-items-center">
					<div class="col-12 mx-auto col-lg-4">
						<img class="d-block img-fluid mx-auto col-sm-6 col-lg-12" src="{{ portada }}" alt="Catálogo">
					</div>
					<div class="col-12 mx-auto col-lg-6">
						<h3 class="col-12 text-white text-uppercase h2">
							Descarga el catálogo de
							{{ entry.title }}
						</h3>
						<p class="col-12 my-3 text-white">
							Ingresa tu correo electrónico y te enviaremos de forma automática el catálogo de la marca y un brief para conocer los proyectos de URANY.
						</p>
						<form action="#" method="get" accept-charset="utf-8" class="col-12 col-lg-10 mr-lg-auto">
							<div class="input-group mb-2 mb-sm-0">
								<input type="text" class="form-control text-center" placeholder="Correo electrónico">
								<a download href="{{ entry.catalogo[0].descarga[0].url }}" class="input-group-addon btn btn-primary text-white download-catalogo">
									Descargar
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /container -->
		</section>
	{% endif %} #}
	{% include 'partials/_subscribe' %}
	{% include 'partials/_modal-marca' %}

{% endblock %}
