{# --------------- Variables --------------- #}
	{% set subscribeImage = 'subscribe1' %}
	{% set title = 'Productos' %}
{# ----------------------------------------- #}

{% extends "_layout" %}

{% block content %}
	{% set familias = craft.entries.section('familiaProductos').all() %}
	{% if familias is defined %}
		<section class="container py-5 mt-lg-5">
			<div class="row py-5 align-items-center py-md-3">
				{% for familia in familias %}
					<h1 class="col-12 my-4">{{familia.title}}</h1>
					<div class="col-12 row mx-0" data-grid="{{familia.title}}">
						{% set products = familia.gridProductos.all() %}
						{% for product in products %}
							<div class="articulo col-6 mb-4 text-center col-sm-6 col-md-4 col-lg-3" {% if product.descripcion is defined %} data-target="{{ product.modelo }}" {% endif %}>
								<div class="thumb d-flex justify-content-center align-items-center">
									{% if product.foto[0] is defined %}
										<img src="{{ product.foto[0].url }}">
									{% else %}
										<img src="/assets/img/icon-black.png">
									{% endif %}
								</div>
								<div>
									<h5 class="small text-uppercase text-muted mt-3">
										{{ product.marca }}
									</h5>
									<h3 class="h5">
										{{ product.modelo }}
									</h3>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
				<div class="col-12 text-center">
					<a href="#" data-chat="open" class="btn btn-primary mt-5 text-uppercase">
						Cotizar con un asesor
					</a>
				</div>
			</div>
		</section>
	{% endif %}
	{% if entry.catalogo is defined %}
		{% set color = entry.catalogo[0].fondo %}
		{% set portada = entry.catalogo[0].portada[0].url %}
		<section class="container-fluid py-md-5" style="background-image: linear-gradient(-180deg, #881626 0%, #111 100%);">
			<div class="container">
				<div class="row py-5 align-items-center">
					<div class="col-12 mx-auto col-lg-4">
						<img class="d-block img-fluid mx-auto col-sm-6 col-lg-12" src="{{ portada }}">
					</div>
					<div class="col-12 mx-auto col-lg-6">
						<h3 class="col-12 text-white text-uppercase h2">
							Descarga el catálogo de {{ entry.title }}
						</h3>
						<p class="col-12 my-3 text-white">
							Ingresa tu correo electrónico y te enviaremos de forma automática el catálogo de la marca y un brief para conocer los proyectos de URANY.
						</p>
						<form action="#" method="get" accept-charset="utf-8" class="col-12 col-lg-10 mr-lg-auto">
							<div class="input-group mb-2 mb-sm-0">
						    	<input type="text" class="form-control text-center" placeholder="Correo electrónico">
						    	<a download href="{{ entry.catalogo[0].descarga[0].url }}" class="input-group-addon btn btn-primary text-white download-catalogo">
						    		Descargar
						    	</a>
						    </div>
						</form>
					</div>
				</div>
			</div><!-- /container -->
		</section>
	{% endif %}
	{% include 'partials/_subscribe' %}
	{% include 'partials/_modal-marca' %}
{% endblock %}