{# --------------- Variables --------------- #}
{% set subscribeImage = 'subscribe1' %}
{% set title = 'Productos' %}
{# ----------------------------------------- #}

{% extends "_layout" %}

{% block content %}
	<section class="container py-5 mt-lg-5">
		<div class="row py-5 align-items-center py-md-3">

			{% set categorias = craft.categories.group('categoriaDeProductos').all() %}

			{% for categoria in categorias %}
				
				{% set entries = craft.entries.section('productos').relatedTo(categoria) %}
				<div class="row my-4 mx-0" data-grid="{{categoria.title}}">
					<h1 class="col-12 h2 text-uppercase">{{categoria.title}}</h1>
					{% for producto in entries %}
						{% include 'partials/_product-thumb' %}
					{% endfor %}
				</div>
			{% endfor %}
			<div class="col-12 text-center">
				<a href="#" data-chat="open" class="btn btn-primary mt-5 text-uppercase">
					Cotizar con un asesor
				</a>
			</div>
		</div>
	</section>

	{# {% if entry.catalogo is defined %}
		{% set color = entry.catalogo[0].fondo %}
		{% set portada = entry.catalogo[0].portada[0].url %}
		<section class="container-fluid py-md-5" style="background-image: linear-gradient(-180deg, #881626 0%, #111 100%);">
			<div class="container">
				<div class="row py-5 align-items-center">
					<div class="col-12 mx-auto col-lg-4">
						<img class="d-block img-fluid mx-auto col-sm-6 col-lg-12" src="{{ portada }}" alt="Catálogo">
					</div>
					<div class="col-12 mx-auto col-lg-6">
						<h3 class="col-12 text-white text-uppercase h2">
							Descarga el catálogo de
							{{ entry.title }}
						</h3>
						<p class="col-12 my-3 text-white">
							Ingresa tu correo electrónico y te enviaremos de forma automática el catálogo de la marca y un brief para conocer los proyectos de URANY.
						</p>
						<form action="#" method="get" accept-charset="utf-8" class="col-12 col-lg-10 mr-lg-auto">
							<div class="input-group mb-2 mb-sm-0">
								<input type="text" class="form-control text-center" placeholder="Correo electrónico">
								<a download href="{{ entry.catalogo[0].descarga[0].url }}" class="input-group-addon btn btn-primary text-white download-catalogo">
									Descargar
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /container -->
		</section>
	{% endif %} #}
	{% include 'partials/_subscribe' %}
	{% include 'partials/_modal-marca' %}

{% endblock %}
