{# --------------- Variables --------------- #}
{% set title = 'Stock' %}
{# ----------------------------------------- #}

{% extends "_layout" %}



{% block content %}
	
	<div class="container my-5">
		<div class="row">
			<div class="col-6 col-md-2 text-center offset-md-1 order-0">
				{% if entry.seleccionadorDeMarca.one() %}
					<img src="{{ entry.seleccionadorDeMarca.one().logoParaFondoOscuro.one().url }}" alt="{{entry.title}}" class="img-fluid">
				{% endif %}
			</div>
			<div class="col-md-10 d-none d-md-block"><br></div>
			<div class="col-6 col-md-4 order-2 order-md-0">
				{% if entry.instaBlogImage.one() %}
					<img src="{{ entry.instaBlogImage.one().url }}" alt="{{entry.title}}" class="img-fluid">
				{% endif %}
			</div>
			<div class="col-12 col-md-8 order-0 order-md-3">
				<div class="row">
					<div class="col-12 col-md-6 align-self-end mt-4 mt-md-0">
						<p class="mb-0 h1">{{entry.title}}</p>
					</div>
					<div class="col-12 col-md-6 text-md-right align-self-end">
						<p class="mb-0 h5">{{entry.categoriaStock.one().title ?? ''}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-justify">
						<hr>
						<p class="mb-0">{{entry.body}}</p>
					</div>
				</div>
			</div>
			<div class="col-12 mt-5 order-4 stock-table__container table-responsive">
				{# example table in example-table.txt #}
				{{ entry.contenidoDeProductoEnStock }}
				 <div class="span">✓: Artículos disponibles en Stock</div>
			</div>
		</div>

		<div class="col-12">
			<div class="row my-5 pt-5">
				<div class="col-12">
					<p class="h2">Más productos</p>
				</div>
				{% set stocks = craft.entries.section('stockDeProductos') %}
				{% for stock in stocks %}
					<div class="articulo col-6 mb-4 text-center col-sm-6 col-md-4 col-lg-3">
						<a href="{{stock.url}}" class="text-body">
							<div class="thumb d-flex justify-content-center align-items-center">
								{% if stock.instaBlogImage[0] is defined %}
									<img src="{{ stock.instaBlogImage[0].url }}" alt="{{stock.title}}">
								{% else %}
									<img src="/assets/img/icon-black.png" alt="{{stock.title}}">
								{% endif %}
							</div>
							<div>
								<h5 class="small text-uppercase text-muted mt-3">
									{{ stock.marca }}
								</h5>
								<h3 class="h5">
									{{ stock.title }}
								</h3>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>


	</div>
 




<style type="text/css">
    #main-jumbotron{
    	min-height: unset !important;
    	background: transparent !important;
    }
</style>
{% endblock %}