{# --------------- Variables --------------- #}
{% set title = 'Stock' %}
{# ----------------------------------------- #}

{% extends "_layout" %}
{% set jumbotronImage = "stock_fondo.png" %}

{% block jumbotron %}
    <div class="pleca pleca-primary"></div>
    <span class="d-none d-md-block lines container">
        {% include 'includes/lines.svg.twig' %}
        {% include 'includes/lines.svg.twig' %}
    </span>
    <div class="position-relative text-center">
        <h1 class="text-white text-uppercase mb-3">Catálogo
            <br class="d-none d-lg-block">de Stock</h1>
    </div>
    <span id="scroll">
        <i class="fa fa-chevron-down text-white top"></i>
        <i class="fa fa-chevron-down text-white bottom"></i>
    </span>
{% endblock %}


{% block content %}

	<div class="container py-5">
		<div class="row">
			<div class="col-12 py-5">
					<p class="h1" id="top-home">
						Flexibilidad y adaptabilidad para brindar las mejores soluciones a tu proyecto.
					</p>
					<p>
						Un reto para mantener un inventario de productos mecánicos para aplicaciones de control de movimiento es poder cumplir con la enorme variedad de bridas, bujes y cajas de poleas quese requieren para montarse a la gran cantidad de servomotores que existen en el mercado. En Urany tenemos más de 20 años de experiencia trabajando de la mano con los fabricantes de servomotores con presencia en el país, por lo que después de un extenso análisis podemos asegurar que contamos con diferentes opciones en kits de montaje para ser la mejor elección para su proyecto.
					</p>
			</div>

			
			{% set stocks = craft.entries.section('stockDeProductos') %}
			
			{% set tabs = [{'title': "Todas las marcas", 'id':0 }] %}
			{% for stock in stocks %}
				{% set newElem = {'title': stock.seleccionadorDeMarca.one().title, 'id': stock.seleccionadorDeMarca.one().id } %}
				{% if newElem not in tabs %}
					{% set tabs = tabs|merge([newElem]) %}	
				{% endif %}
			{% endfor %}
			
			<nav class="col-12 mb-5" id="nav-marca">
				<ul class="list-unstyled row mx-0 mb-0">
					{% set count = 0 %}
					{% for tab in tabs %}
						<li class="col-12 btn {% if loop.first %}d-none {% else %} btn-outline-primary {% endif %}text-uppercase col-md-auto mr-md-3 mb-md-3" data-target="{{ tab.title }}">
							{{ tab.title }}
						</li>
						{% set count = count + 1 %}
					{% endfor %}
				</ul>
			</nav>


			<div class="col-12">
				<div class="row">
					{% for stock in stocks %}
						<div class="articulo col-6 mb-4 text-center col-sm-6 col-md-4 col-lg-3" data-info="{{stock.seleccionadorDeMarca.one().title}}">
							<a href="{{stock.url}}" class="text-body">
								<div class="thumb d-flex justify-content-center align-items-center">
									{% if stock.instaBlogImage[0] is defined %}
										<img src="{{ stock.instaBlogImage[0].getUrl('smaller') }}" alt="{{stock.title}}">
									{% else %}
										<img src="/assets/img/icon-black.png" alt="{{stock.title}}">
									{% endif %}
								</div>
								<div>
									<p class="mb-2">{{ stock.seleccionadorDeMarca.one().title }}</p>
									<h3 class="small text-uppercase">
										{{stock.categoriaStock.one().title ?? ''}} - {{ stock.title }}
									</h3>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="col-12 mt-5 pt-5">
				<p class="h2">Tiempos de Entrega</p>
				<p>
					En Urany nos comprometemos a enviar nuestros productos con las dimensiones y accesorios especificados para su montaje, por lo que realizamos esa labor siguiendo los más estrictos estándares de calidad.
				</p>
				<div class="stock-table__container table-responsive">
					<table class="text-center">
						<tbody>
							<tr>
								<td class="text-uppercase" rowspan="2" colspan="1">Producto</td>
								<td class="text-uppercase" rowspan="2" colspan="1">EXW <br> Querétaro</td>
								<td class="text-uppercase" rowspan="2" colspan="1">Número de piezas</td>
							</tr>
							<tr>
								<td class="border-0"></td>
							</tr>
							<tr>
								<td>Reductores CP, NP, CPK, NPK</td>
								<td>1 día hábil, SPV</td>
								<td>No Restringido</td>
							</tr>
							<tr>
								<td>Coples de elastómero ROBA-ES o fuelle Smartflex sin maquinar <br>(diámetros piloto)</td>
								<td>Inmediata, SPV</td>
								<td>No Restringido</td>
							</tr>
							<tr>
								<td>Coples de elastómero ROBA-ES tamaño 14, 19, 24 y 28 barrenado sin cuñero</td>
								<td>1 día hábil, SPV</td>
								<td>No restringido</td>
							</tr>
							<tr>
								<td>Coples de elastómero ROBA-ES tamaño 38, 42, 48, 55 y 65 barrenado sin cuñero</td>
								<td>3 días hábiles, SPV</td>
								<td>Hasta 8 piezas</td>
							</tr>
							<tr>
								<td>Coples de elastómero ROBA-ES tamaño 14, 19, 24 y 28 barrenado con cuñero</td>
								<td>2 días hábiles, SPV</td>
								<td>Hasta 8 piezas</td>
							</tr>
							<tr>
								<td>Coples de elastómero ROBA-ES tamaño 38, 42, 48, 55 y 65 barrenado con cuñero</td>
								<td>4 días hábiles, SPV</td>
								<td>Hasta 8 piezas</td>
							</tr>
							<tr>
								<td>Cople de fuelle Smartflex barrenado sin cuñero </td>
								<td>2 días hábiles, SPV</td>
								<td>Hasta 8 piezas</td>
							</tr>
							<tr>
								<td>Cople de fuelle Smartflex barrenado con cuñero </td>
								<td>3 días hábiles, SPV</td>
								<td>Hasta 8 piezas</td>
							</tr>
							<tr>
								<td>Actuadores de vástago PNCE </td>
								<td>Inmediata, SPV</td>
								<td>No restringido</td>
							</tr>
							<tr>
								<td>Actuadores de banda MTJ, MRJ, CTJ y MTJZ</td>
								<td>7 días hábiles, SPV
								</td>
								<td>Hasta 6 piezas</td>
							</tr>
						</tbody>
					</table>
				</div>


                <p>
                	Los tiempos de entrega mostrados son salvo previa venta (SPV). En caso de que las condiciones aquí expuestas no cumplan su requerimiento, favor de contactarnos, trataremos de buscar alguna alternativa.
                	Para conocer el tiempo de entrega exacto en tu ciudad consulta a uno de nuestros Ingenieros.
                </p>
			</div>
		</div>
	</div>
	{% include 'partials/_stock-catalog-newsletter' %}


{% endblock %}